@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
     font-family: Anton;
     src: url('../../public/fonts/Anton-Regular.ttf');
     font-weight: 700;
}


body{
     font-family: Anton;
}