// imports
@import "./_variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
     font-family: Anton;
     src: url("../../public/fonts/Anton-Regular.ttf");
     font-weight: 700;
}
@font-face {
     font-family: metapro;
     src: url("../../public/fonts/FFMetaProBold.TTF");
     font-weight: 700;
}
@font-face {
     font-family: metapro;
     src: url("../../public/fonts/FFMetaProBook.TTF");
     font-weight: 500;
}
@font-face {
     font-family: metapro;
     src: url("../../public/fonts/FFMetaProCondBd.TTF");
     font-weight: 600;
}
@font-face {
     font-family: metapro;
     src: url("../../public/fonts/FFMetaProCondRg.TTF");
     font-weight: 400;
}
@font-face {
     font-family: metapro;
     src: url("../../public/fonts/FFMetaProLight.TTF");
     font-weight: 300;
}

body {
     overflow-x: hidden;
}

//slick slider custom dots
.slick-dots {
     bottom: 0.5rem !important;
}
.sliceslider .slick-slide img {
     padding: 12px;
}

.slick-disabled {
     display: none;
}

.slick-dots {
     li {
          width: 40px !important;
          height: 5px !important;
          button:before {
               background: var(--pure);
               content: "" !important;
               width: 40px !important;
               height: 5px !important;
          }
     }
     .slick-active {
          button:before {
               background: var(--secondary);
          }
     }
}

@media (min-width: 768px) {
     .slick-dots {
          bottom: 2rem !important;
          left: 7% !important;
          display: inline-flex;
          width: auto !important;
     }
}
.ReactModal__Overlay {
     background: rgba(0, 0, 0, 0.1) !important;
     z-index: 100;
}
.no-scroll {
     overflow: hidden;
}
.videocontainer{
     position: relative;
     width: 100%;
     overflow: hidden;
     padding-top: 56.25%;
}
.responsive-iframe {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 100%;
     height: 100%;
     border: none;
   }
   
.x78zum5.xdt5ytf.xl56j7k{
     display: none !important;
}